@import '../utils/variables.scss';

.header{
    background-color: $menu-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    & > img {
            width: 10rem;
            margin-bottom: $spacing-lg;
            margin-top: $spacing-md;
        }
        & > .user{
            display: flex;
            & > p {
                color: $text-color;
                margin-right: $spacing-md;
                font-size: 20px;
            }
        } 
} 